.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.modal-content {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 80%;
  height: 80%;
  max-width: 1200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px; /* Уменьшен отступ */
}

.modal-header h2 {
  margin: 0;
  font-size: 1.5rem;
}

.close-button {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #888;
}

.close-button:hover {
  color: #000;
}

/* Стили для инструкции */
.import-instructions {
  background-color: #f0f4f8;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 0.9rem;
}

.import-instructions p {
  margin: 0 0 10px 0;
}

.import-instructions ol {
  margin: 0;
  padding-left: 20px;
}

.import-instructions li {
  margin-bottom: 5px;
}

.modal-body {
  flex-grow: 1;
  overflow: hidden;
}

.modal-body iframe {
  width: 100%;
  height: 100%;
  border: 1px solid #ddd;
}
